@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'roboto'sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
}
.box{
    outline: 1px solid black;
    margin: 10px;
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: rgb(255, 241, 214);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-200);
}

.box.show{
    transform: translateX(0)
}
.box h2{
    font-size: 45px;
}